html {
  font-size: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  cursor: default;
  color: #000;
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section,
footer {
  padding: 0px 3.7rem;
}

.section {
  margin: 7.5rem 0;
}

.checkout_section {
  display: flex;
  height: 100%;
  width: 100%;
}

.checkout_left {
  height: 100vh;
  width: 54rem;
}

.checkout_right {
  height: 100vh;
  width: 36rem;
  border-left: 1px solid #e1e1e1;
}

.checkout_left_nav {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  padding-top: 1.9rem;
  padding-bottom: 3.75rem; 
  padding-left: 1.25rem;
  padding-right: 3.75rem; 
}

.logo_name {
  font-size: 1.3rem;
  font-weight: 1000;
  font-style: italic;
  text-transform: uppercase;
  color: #ff6b00;
  padding-left: 0.3rem;
}

.checkout_logo_img {
  height: 3rem;
}

.checkout_left_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5.6rem;
  padding-left: 1.25rem;
  padding-right: 3.75rem;
}

.checkout_left_top h2 {
  font-size: 1.75rem;
}

.checkout_left_top span h4 {
  font-size: 1.1rem;
  color: #a3a3a3;
}

.checkout_product_list {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr);
  row-gap: 30px; */
}

.checkout_product {
  width: fit-content;
  position: relative;
  margin: 0 1.25rem;
}

.checkout_product_img {
  width: 12.5rem;
}

.checkout_product_name_price {
  padding-left: 10px;
}
.checkout_product_name {
  font-size: 1rem;
  padding-bottom: 5px;
}

.checkout_product_price {
  font-size: 0.7rem;
  color: #606060;
}

.delete_icon_circle {
  position: absolute;
  top: -0.3rem;
  right: -0.1rem;
  cursor: pointer;
}

.delete_icon {
  font-size: 1.5rem;
  color: #ff3d3d;
}

.checkout_right_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.9rem;
}
.checkout_right_icon {
  font-size: 2.6rem;
  color: #ff8f3e;
  cursor: pointer;
}

.checkout_form {
  margin: 2.5rem;
  padding: 2.5rem 3.2rem;
  border-radius: 30px;
  background-color: #f9f9f9;
}

.form_title {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 1.9rem;
}

.form_inp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7px 2px;
}

.form_label {
  font-size: 1rem;
  font-weight: 700;
}

.single_inp {
  padding: 0.75rem 0.6rem;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
}

.single_inp::placeholder {
  color: #d9d9d9;
}

.single_textarea_inp {
  padding: 0.75rem 0.6rem;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  resize: none;
}

.checkout_right_btn_div {
  text-align: center;
}

.checkout_right_btn {
  padding: 1rem 1.9rem;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 1.9375rem;
  background: linear-gradient(200deg, #ff6b00 0%, #ffb47e 100%);
  box-shadow: 0px 1px 24px 1px rgba(253, 116, 0, 0.5);
  transition: all 0.5s ease;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 35%;
  }
  .checkout_product_list{
    grid-template-columns: repeat(2,1fr);
  }
}
/* For Phone-screen */
@media screen and (max-width: 904px) {
  html {
    font-size: 40%;
  }
  .checkout_product_list{
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (min-width: 904px) and (max-width: 1040px) {
  html {
    font-size: 70%;
  }
  .checkout_product_list{
    grid-template-columns: repeat(2,1fr);
  }

}
@media only screen and (min-width: 1040px) and (max-width: 1182px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 1182px) and (max-width: 1400px) {
  html {
    font-size: 85%;
  }
}
