html {
  font-size: 100%;
}

body {
  height: 100vh;
  min-height: 100%;
  cursor: default;
  color: #000;
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section,
footer {
  padding: 0px 3.7rem;
}

.section {
  margin: 7.5rem 0;
}

.contact_section{
    width: 100%;
    height: 100%;
}

.contact_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0.6rem;
}

.qr_img{
    height: 22rem;
    width: 22rem;
}

.qr_title{
    font-size: 1.9rem;
    color: #484848;
    text-transform: uppercase;
    padding: 1.9rem 0;
}
.conatct_details{
    padding-left: 2.5rem;
}
.conatct_detail{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 3px 0;
}

.conatct_icon_cir{
    background-color:#484848;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor:pointer;
}
.conatct_icon{
    font-size: 1.2rem;
    font-weight: 700;
}

.conatct_detail h3{
    font-size: 1.4rem;
    color: #FD7400;
    padding-left: 1.2rem;
}
.website_nav{

  justify-content: space-between;
}

@media screen and (max-width: 400px) {
    html {
      font-size: 35%;
    }
   
  }
  /* For Phone-screen */
  @media screen and (max-width: 904px) {
    html {
      font-size: 40%;
    }
 
  }
  
  @media only screen and (min-width: 904px) and (max-width: 1040px) {
    html {
      font-size: 70%;
    }
  
  }
  @media only screen and (min-width: 1040px) and (max-width: 1182px) {
    html {
      font-size: 75%;
    }
  }
  @media only screen and (min-width: 1182px) and (max-width: 1400px) {
    html {
      font-size: 85%;
    }
  }
  