<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- cursor.js script will only trigger when it is on a pc -->
    {% comment %} <script src="{% static 'js/cursor.js' %}"></script>    {% endcomment %}
    {% comment %} <script src="{% static 'js/animate.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/toggle.js' %}"></script>
  </head>
  <body>

    <!-- <div id="CustomCursor"></div> -->

    <!-- NavBar section -->
    <nav class="nav_conatiner">
      <div class="website_nav">
        <div class="logo_sec">
          <span><img src="{% static 'img/Logo.png' %}" alt="logo" class="logo_img" /></span>
          <p class="logo_name">
            Better <br />
            Equipments.
          </p>
        </div>
        <div class="switches-container">
          <input
            type="radio"
            id="switchWebsite"
            name="switch"
            value="website"
            checked="checked"
            onclick="website_switch()"
          />
          <input
            type="radio"
            id="switchProduct"
            name="switch"
            value="product"
            onclick="product_switch()"
            class="switchProduct"
          />
          <label for="switchWebsite">Website</label>
          <label for="switchProduct">Products</label>
          <div class="switch-wrapper">
            <div class="switch">
              <div>Website</div>
              <div>Products</div>
            </div>
          </div>
        </div>
        <div class="nav_items">
          <ul class="nav_items_ul">
            <li class="nav_item active">Home</li>
            <li class="nav_item">Contact</li>
            <li class="nav_item">
              <a href='/checkout/'>
              <button type="button" class="qute_btn btn" id="get_quote_btn">
                Get a quote <span id='cart_main'></span>
              </button></a>
              <button type="button" class="qute_btn btn" id="cart_btn">
                <i class="ri-shopping-cart-line cart_icon"></i> Cart (<span id='cart_main'>0</span>)
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="mobile_nav">
        <div class="nav_icons">
          <a href="#"
            ><i class="ri-home-line icon" onclick="website_switch()"></i
          ></a>
          <a href="#"> <i class="ri-phone-line icon"></i></a>
          <img src="{% static '/img/mobile-logo.png' %}" alt="sfs" class="mobile_logo_img" />
          <a href="#"><i class="ri-shopping-cart-line icon"></i></a>
          <a href="#"><i class="ri-menu-3-line icon"></i></a>
        </div>
      </div>
    </nav>
    <!-- NavBar section End -->

    <main class="main" id="main">
      <div class="website_page" id="website_page">
        <!-- Hero Section Start -->
        <section class="hero_section" id="hero-section">
          <div class="hero_main_container">
            <div class="hero_text_content">
              <h1 class="hero_main_text">
                We Just Call Ourselves<br />
                <span class="hero_sec_text"
                  ><img
                    src="{% static 'img/Logo.png' %}"
                    alt=""
                    class="hero_text_logo"
                    id="logoimg"
                  />etter.</span
                >
                We are actually the <br />
                <span class="hero_sec_text"
                  ><img
                    src="{% static 'img/Logo.png' %}"
                    alt=""
                    class="hero_text_logo"
                    id="logoimg"
                  />est.</span
                >
              </h1>
              <h4 class="hero_bottom_text">
                We are a B2B and B2C importer and distributors of textile
                embroidery machine cards. We also works as import facilitators
                and outsourcers for many products and provide electronics and
                electrical related services.
              </h4>
              <div class="explore_btn_div">
              <button
                type="button"
                class="btn explore_btn"
                id="cta"
                onclick="product_switch()"
              >
                Explore our range of products
              </button>
            </div>
              <h4 class="hero_last_text">
                Trusted by more than 25+ Retailers across India
              </h4>
              <img src="{% static 'img/hero1.png' %}" alt="heroImg" class="hero_img" id="herophoto" />
            </div>
            <!-- <div class="hero_img" id="herophoto"></div> -->
          </div>
        </section>
        <!-- Hero Section End -->

        <!-- Testimonial Section Start -->
        <section class="testimonial_section section" id="testimonial-section">
          <div class="heading_div" id="testiomonial_heading_div">
            <h1 class="heading_text">Why our customers love us?</h1>
          </div>
          <div class="testimonial_div">
            <div class="testimonial_cards">
              <div class="testimonial_card">
                <h2 class="testimonial_card_title">Timely Delivery</h2>
                <div class="testimonial_chat_div">
                  <div class="testimonial_chat chat_left">
                    <h4 class="chat_title title_left">Client</h4>
                    <div class="chat_box chat_r">
                      We need some items urgently, when can you deliver?
                    </div>
                  </div>
                  <div class="testimonial_chat chat_right">
                    <h4 class="chat_title title_right">Better Equipments</h4>
                    <div class="chat_box chat_l">
                      Yes sir, your order is placed and dispatched today, you
                      will receive the order earliest by tomorrow.
                    </div>
                  </div>
                  <div class="testimonial_chat chat_left">
                    <h4 class="chat_title title_left">Client</h4>
                    <div class="chat_box chat_r">
                      Wow! That was fast. Thanks for the quick service
                    </div>
                  </div>
                </div>
              </div>

              <div class="testimonial_card">
                <h2 class="testimonial_card_title">Stellar customer service</h2>
                <div class="testimonial_chat_div">
                  <div class="testimonial_chat chat_left">
                    <h4 class="chat_title title_left">Client</h4>
                    <div class="chat_box chat_r">
                      Hey, I cannot figure out how to install the card you just
                      sent, can you help me out?
                    </div>
                  </div>
                  <div class="testimonial_chat chat_right">
                    <h4 class="chat_title title_right">Better Equipments</h4>
                    <div class="chat_box chat_l">
                      Sure! We will send a technician over today and he will
                      assist you.
                    </div>
                  </div>
                  <div class="testimonial_chat chat_left">
                    <h4 class="chat_title title_left">Client</h4>
                    <div class="chat_box chat_r">
                      Awesome! Really loved your service. Thanks for the support
                    </div>
                  </div>
                </div>
              </div>

              <div class="testimonial_card">
                <h2 class="testimonial_card_title">Highest Quality Products</h2>
                <div class="testimonial_chat_div">
                  <div class="testimonial_chat chat_left">
                    <h4 class="chat_title title_left">Client</h4>
                    <div class="chat_box chat_r">
                      The cards we bought from you are amazing, the packaging
                      feels premium. Our customers are loving it.
                    </div>
                  </div>
                  <div class="testimonial_chat chat_right">
                    <h4 class="chat_title title_right">Better Equipments</h4>
                    <div class="chat_box chat_l">
                      Glad you liked them, as our motto goes, We just call
                      ourselves better, we are actually the best.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <h3 class="testimonial_bottom_txt">
                These are just 3, we can give you a dozen more reasons why our
                customers love us. But if you are really interested in finding
                out, give us a call and find it yourself!
              </h3>
            </div>
          </div>
        </section>
        <!-- Testimonial Section Start -->

        <section class="product_list_section section" id="product-section">
          <div class="heading_div" id="product_heading_div">
            <h1 class="heading_text">Our Services and Products</h1>
          </div>

          <div class="product_list">
            
            {% for i in product %}
             <div class="product_card">
              <div class="product_img_div">
                <img src="media/{{i.product_img}}" alt="pro-1" class="product_img" />
              </div>
              <div class="product_name_price">
                <h2 class="product_name">{{i.product_name}}</h2>
                <h3 class="product_price">Price : Rs {{i.product_price}}/card</h3>
              </div>
              <div class="product_disc_div">
                <p class="product_disc">
                  {{i.product_des}}
                </p>
              </div>
              <div class="product_buy_btn_div">
                <button type="button" class="btn buy_btn">Buy Now</button>
              </div>
            </div>
            
            {% endfor %}
            
          </div>
        </section>
      </div>

      <div class="product_page" id="product_page">
        <section class="product_page_section section">
          <div class="product_page_heading_div">
            <h1 class="product_page_heading">Our Products</h1>
          </div>

          <div class="product_list">
            {% for i in product %}
            <div class="product_card">
              <div class="product_img_div">
                <span id="imgpr{{i.product_id}}"><img src="media/{{i.product_img}}" alt="pro-1" class="product_img" /></span>
              </div>
              <div class="product_name_price">
                <h2 class="product_name" id="namepr{{i.product_id}}">{{i.product_name}}</h2>
                <h3 class="product_price">Price : Rs <span id="pricepr{{i.product_id}}">{{i.product_price}}</span>/card</h3>
              </div>
              <div class="product_disc_div">
                <p class="product_disc">
                  {{i.product_des}}
                </p>
              </div>
              
              <div class="product_buy_btn_div" >
                
                <div id="divpr{{i.product_id}}" class='add'>
                <button type="button" class="btn add_to_cart_btn cart_add" id="pr{{i.product_id}}"  >
                  Add to Cart
                </button>
                
              </div>
              <div id="div2pr{{i.product_id}}" class='rem' >
                <button type="button" class="btn add_to_cart_btn cart_remove" id="pr{{i.product_id}}">
                  Remove From Cart
                </button>
              </div>
                <button type="button" class="btn buy_btn">Buy Now</button>
              </div>
            
            </div>
            {% endfor %}
          </div>

          <div class="product_page_bottom_txt_div">
            <h3 class="product_page_bottom_txt">
              We are adding more products to our inventory soon
            </h3>
          </div>
          <div class="product_page_btn_div">
            <a href='/checkout/'><button type="button" class="product_page_btn">
              Proceed to cart
            </button></a>
          </div>
          <div class="product_page_btn_div">
            <button type="button" class="product_page_btn clear_cart" onclick='clearcart()'>
              Clear Cart
            </button>
          </div>
        </section>
      </div>
    </main>

    <footer class="footer">
      <div class="footer_items">
        <img src="{% static '/img/mobile-logo.png' %}" alt="sfs" class="footer_logo_img" />
        <h3 class="footer_text">Made with <i class="ri-heart-fill"></i></h3>
        <span class="circle"><i class="ri-arrow-up-line"></i></span>
      </div>
    </footer>
    <script>
      console.log("working")
      if (screen && screen.width > 904) {
        document.write('<script type="text/javascript" src="{% static 'js/cursor.js' %}"><\/script>');
        document.write('<div id="CustomCursor"></div>')
      }
      {% comment %} CART  {% endcomment %}
      
      if(localStorage.getItem('cart')== null){
      var cart={};
    }
      else
      {
        cart = JSON.parse(localStorage.getItem('cart'));
        var sum=0;
        for (var item in cart){
          sum = sum + cart[item][0];
       
        }
         document.getElementById('cart_main').innerHTML=sum;
      }
{% comment %} CART ADD {% endcomment %}



      $('.cart_add').click(function(){
        var idstr = this.id.toString();
        if(cart[idstr] !=undefined)
        {
          qty = cart[idstr][0]+1;

        }
        else
        {
          qty = 1;
          name = document.getElementById('name'+idstr).innerHTML;
          img = document.getElementById('img'+idstr).innerHTML;
          price = document.getElementById('price'+idstr).innerHTML;
          cart[idstr] = [qty,name,img,price];
          
        }
        var sum=0;
        for (var item in cart){
          sum = sum + cart[item][0];
       
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart_main').innerHTML=sum;
        let elements = document.querySelectorAll('.cart_add')

      let cleavage = event.target;
      let btnid= cleavage.id;
      console.log(btnid)
      let cart_add = document.getElementById('div'+btnid);
      let cart_remove = document.getElementById('div2'+btnid);
      
      cart_add.style.display="none"
    
      cart_remove.style.display="block"
        
        
      
      });
{% comment %} CART REMOVE {% endcomment %}
      $('.cart_remove').click(function(){
        var idstr = this.id.toString();
        if(cart[idstr] !=undefined)
        {
          delete cart[idstr]

        }
        var sum=0;
        for (var item in cart){
          sum = sum + cart[item][0];
       
        }
        
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart_main').innerHTML=sum;


        let elements = document.querySelectorAll('.cart_remove')
      let cleavage = event.target;
      let btnid= cleavage.id;
      console.log(btnid)
      let cart_add = document.getElementById('div'+btnid);
    cart_add.style.display="block"
    
    let cart_remove = document.getElementById('div2'+btnid);
    cart_remove.style.display="none"
    
      });
    
      </script>
  </body>
</html>
